.container{
    width: 80%;
    margin: auto;
    font-family:Tahoma, Verdana, Geneva, sans-serif; 
}

.head{
    width: 45%;
    margin: auto;
    border-bottom: solid 1px
}

.border{
    width:50%;
    height: 0.5px;
    border-bottom: solid 1px;
    margin: auto;
}

h1{
    text-align: center;
    color: darkslategray;
    margin-bottom: 4px;
}

.menu ul{
    list-style: none;
    display: flex;
    width: 40%;
    margin: auto;
    align-content: space-between;
    padding: 10px;
}

.menu ul li{
    width: 30%;
    padding: 0 10px;
}

li{
    text-transform: uppercase;
    font-size: small;
}

lu li:nth-child(1){
    padding-right: o;
}

.mainp{
    background-image: url('../images/main.jpg');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    background-size: 100% 100%;
}

.colomen{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.block1{
    width: 32.5%;
    height: 200px;
}
.minip{
    background-image: url('../images/mini.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.block1 p{
    text-align: center;
    padding: 10px 25px;
}

.between button{
    margin-left: 100px;
    height: 30px;
    width: 150px;
    background-color: lightgrey;
    border: none;
}

.between{
    background-color: rgb(126, 152, 152);
}

.last{
    background-color: rgb(28, 59, 84);
    color: antiquewhite;
    
}

.block2{
    width: 66.3%;
    height:200px;
    background-color: bisque;
}

.block2 p{
    padding-top: 23px;
    padding-left: 40px;
}

.form{
    padding-left:40px;
}

.form input{
    width: 300px;
    height: 35px;
    padding-left: 10px;

}

.form button{
    display: block;
    margin-top: 10px;
    width: 130px;
    height: 30px;
    background-color: #272525;
    color: white;
    border: none;
}

.detail{
    background-image: url(../images/more.jpg);
    background-position: center;
    background-repeat:no-repeat;
    border:solid 1px bisque;
    background-size: 60%;
    background-position-y: 20%;
    position: relative;
}

.detail p{
    position: absolute;
    bottom: 10%;
    left: 30%;
}

.aboutUs .info{
    width: 49.5%;
    height: 150px;
    background-color: rgb(28, 59, 84);
    color: white;
    text-align: center;
}
.aboutUs .info p{
    padding-top: 55px;
    text-transform: uppercase;
}

.colomen.footer{
    height:40px;
    width: 100%;
    background-color: rgb(126, 152, 152);
    
}

.fa {
    text-decoration: none;
    color: black;
    text-align: left;
  }
  
.text{
    width: 25%;
    padding: 10px;
}

.end{
    padding-left: 60px;
}



